@charset "utf-8";

.greenyellow {
    color: rgb(133, 197, 37);
}

.mattya {
    color: rgb(22, 99, 23);
}

span {
    border: 3px dotted rgb(86, 217, 123);
}

#green {
    color: green;
}

#greeeen {
    color: rgb(22, 99, 23);
}

body {
    background-color: beige
}
li{
    padding: 8px
}