@charset "utf-8";

th {
    background-color: rgb(86, 85, 85);
    color: white;
}

td {
    background-color: rgba(178, 178, 178, 0.5);
}

th,td {
    text-align: left;
    vertical-align: top;
}

table,th,td {
    border: solid 2px white;
    border-collapse: collapse;
    padding: 20px;
}

.hissu {
    background-color: red;
    border-radius: 5px;
    font-size: 10px;

}

span {
    font-size: 10px;
}
button{
    padding-left: 20px;
    padding-right: 20px;
}